.about{
   .montagne{
    border-radius: 20px;
    justify-content: center;
    width: 100%;
    height: 200px;
    object-fit: cover;
    
    
   }
   section{
      padding: 20px;
      div{
       details{
         
       }

      }
      
   }
};
