.about{

   .montagne{
    width: 90%;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    justify-content: center;
    @include verticalCenter;
    background: $color4;
    
    
   }
   section{
      padding: 20px;
      margin-left:10%;
      margin-right: 10%;
      div{
         padding:10px;
         box-sizing: border-box;

         margin: 0 auto;
         .about-item{
          margin-left: 60px;
          margin-right: 60px;
         }
       details{
         padding: 5px;
        
         
       }
       summary{
         padding:10px 75px;
         background-color: $mainColor;
         border-radius: 5px;
         color: $color1;
         
        }

      }
      
   }
};
