.Banner {
    ul {
      display: flex;
      justify-content: end;
     
      padding-top: 0;
      
  list-style-type: none;
 
    }
  
    a {
      text-decoration: none;
    }
  
    li {
     
      cursor: pointer;
      padding-right: 20px;
      color: black;
     
    }
  
   
    
  }
  
  
 
  
  