.caroussel {
  display: flex;
  align-items: center; // Centre verticalement les chevrons avec l'image
  justify-content: space-between; // Chevrons à gauche et à droite
  position: relative; // Nécessaire pour positionner les chevrons

  .caroussel-button {
    background: none;
    border: none;
    color: $color1; // Personnalisez selon vos besoins
    font-size: 60px; // Taille des chevrons
    cursor: pointer;
    position: absolute;
    top: 50%; // Aligne verticalement au milieu
    transform: translateY(-50%);
    z-index: 10; // S'assure que les chevrons sont au-dessus de l'image
  }

  .caroussel-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;

    color: $color1;
    font-size: 1.5rem;
    font-weight: bold;
    background: none;
    padding: 5px 15px;
    border-radius: 10px;
    z-index: 5;
    /* Assure que le texte reste visible */
  }

  .caroussel-button:first-of-type {
    left: 20px; // Position à gauche
  }

  .caroussel-button:last-of-type {
    right: 20px; // Position à droite
  }

  .caroussel-image-container {
    flex: 1; // L'image occupe l'espace restant
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; // Cache tout débordement de l'image
    max-width: 100%; // Ne dépasse pas la taille du conteneur
  }

  .caroussel-image-container img {
    width: 100%; // Adapte l'image à la largeur du conteneur
    height: 450px; // Adapte l'image à la hauteur du conteneur
    object-fit: cover;
    border-radius: 20px;

    @media (max-width: 768px) {
      height: 300px;
    }
  }

  @media (max-width: 768px) {
    .caroussel-button {
      font-size: 20px;
      transform: scale(1.2);
    }

    .caroussel-counter {
      font-size: 0px;
    }
  }
}