.collapse {
    padding: 0;
    margin: 0;
}

.collapse-part {
    background-color: $mainColor;
    border-radius: 10px;
    padding: 0 10px; // Cela regroupe padding-left et padding-right
    color: $color1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-size: 18px;
    }

    .collapse-icon {
        margin-left: 10px;
        color: $color1;
        transition: transform 0.3s ease;

        &.open {
            transform: rotate(360deg); // Rotation pour un effet dynamique
        }
    }
}

// Utilisez l'interpolation de cette manière
.collapse-content {
    background-color: $color2;
    border-radius: 5px;
    padding:10px;
    padding-bottom: 40px;
    padding-top: 40px;
    
}