.collapse{
    .collapse-part {
        background-color: $mainColor;
        border-radius: 20px;
        padding: 5px;
        color: $color1;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
      
    
    
    
        .collapse-icon {
            margin-left: 10px;
        color: $color1;
                transition: transform 0.3s ease;
            
                &.open {
                    transform: rotate(360deg); // Rotation pour un effet dynamique
                }
            
        }
    }
    @media(max-width:768px){
        
    }
}