@import "../../Styles/Pages/settings.scss";
.footer {
    background-color: $color3;
    width: 100%;
    color: $color1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 169px;
    font-size: 22px;
    padding-top: 40px;
    @media (max-width:768px){
      padding-bottom: 50px;
      padding-top: 50px;
     p{ padding-left:120px;
    padding-right: 100px;}

    }
    
  }