.header {
  ul {
    display: flex;
    justify-content: space-between;

    padding-top: 0;

    list-style-type: none;
  }

  a {
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }

  li {
    cursor: pointer;
    padding-right: 20px;
    color: $color3;
  }

  @media (max-width: 768px) {
    li {
      padding-right: 0;
    }
  }
}