.host {
    display: flex;
    align-items: center; 
    gap: 10px; 
    justify-content: end;
    padding: 10px;

    .host-name {
        color: $mainColor; 
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;
        text-align: right;
        font-size: 14px;
        padding: 0; 
        
    }

    .host-picture {
        border-radius: 50%; 
        height: 70px; 
        width:70px; 
        object-fit: cover; 
    }
}
