.host {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    padding: 10px;

    .host-name {
        color: $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
        margin:0;
        padding: 0;
        p {
            margin: 5px 0; /* Ajustez cette valeur pour réduire ou augmenter l'espace */
        }
    }

    .host-picture {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        object-fit: cover;
    }

    @media (max-width: 768px) {
        display: flex;
    }
}