.background-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../cote.png") no-repeat center / cover;

  width: 95%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: $color1;
  box-shadow:0 5px 5px $color4;

  h1 {
    @include verticalCenter;
    padding: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 5;
    @media (max-width: 768px){
      font-size: 1.5rem;
    }
  }
   @media (max-width: 1024px) {
    height: 150px;
    padding: 20px;
    width: 85%;;
  }

  @media (max-width: 768px) {
    height: 150px;
    padding: 0;
    width:95% ;
    box-shadow: none;
    margin: auto;
  
  
  }
}