.background-img{
  padding: 20px;
  
  width: 90%;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  justify-content: center;
  @include verticalCenter;
  background: $color4;
  color: $color1;
  
  


h1{
  @include verticalCenter;
  padding: 60px;
  
}
}