@import"../Pages/settings.scss";
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    gap: 50px;
    background-color: $color2;
    border-radius: 20px;
    margin: 50px;
}