.logo {
    margin-left: 15%;
    width: 150px;
    height: auto;
    display: flex;
    width: auto;

    @media (max-width: 768px) {
        content: url("../../assets/img/logoresponsive.png");
        width: 150px;
        padding-left: 0;
        padding-top: 10px;
        margin-left: 0;

    }
}