@import "../Pages/settings.scss";

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px;
    gap: 50px;
    background-color: $color2;
    border-radius: 20px;
    margin: 70px;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr; // 1 colonne sur les petits écrans
        gap: 30px; // Réduction de l'espacement
        padding: 20px; // Moins de padding
        margin: 20px; // Réduction des marges
        background-color: white;
    }
}