.logo {
    margin-left: 5px;
    width: 150px;
    height: auto;
    display: flex;
    width: auto;

    @media (max-width: 768px) {
        content: url("../../assets/img/logoresponsive.png");
        width: 120px;
        padding-left: 0;
    
        margin-left: 0;

    }
}