.pageArticle{
   margin:0 auto;
   padding: 60px;
   display: flex;
   flex-direction: column;
   width: auto;
   @media(max-width:768px){
    display: flex;
    flex-direction: column;
   }
    h2{
        color:$mainColor;
        
    } 
   
     .info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width:768px){
            display: flex;
            flex-wrap: wrap;;
        }
        
        }
     }
    .collapsePage{
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
           }
        .ulCollapse{
        display: flex;
        justify-content: space-around;
        padding: 0;
        list-style-type: none; 
        gap: 60px;
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
            li{width: 100%;}
           }
        li{
           width: 50%;
        }
        .ulEquipement{
            list-style-type: none;
        }
       }
    
    }
    
