.pageArticle{
   margin:0 auto;
   padding: 60px;
   display: flex;
   flex-direction: column;
   width: auto;
  
    h2{
        color:$mainColor;
        
    } 
   
   .sectionInfo{
    display: flex;
    flex-direction: column;
   ;


   }
        
        }
     
    .collapsePage{
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
           }
        .ulCollapse{
        display: flex;
        justify-content: space-around;
        padding: 0;
        list-style-type: none; 
        gap: 60px;
        li{
            width: 50%;
         }
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
            li {width: 100%;}
           }
      
        .ulEquipement{
            list-style-type: none;
        }
       }
 
}

    @media(max-width:768px){
        .sectionInfo{
            display: flex;
            
            flex-direction: column;
            justify-content: center;
            .tagResponsive{
                order:2;
        
           
            
               

               }
            .titleLocation{
                display: inline-block;
                order: 1;
                margin-bottom: 10px;
                
               
            }
            .rateHost{
                display:flex;
                flex-direction: row-reverse;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                order:3;
                
            } }
           
        }
       
       
    