.pageArticle {
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  width: auto;

  h2 {
    color: $mainColor;
  }

  .sectionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.collapsePage {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .ulCollapse {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    gap: 60px;

    li {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }

    .ulEquipement {
      list-style-type: none;
    }
  }
}

@media (max-width: 768px) {
  .sectionInfo {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;

    .rateHost {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .pageArticle {
      padding: 10px;
    }

    .collapsePage {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}