.star {
    color: $mainColor;

    &.empty {
        color: $color2;
    }
}

.rating {
    display: flex;
    justify-content: end;
    font-size: xx-large;

    @media (max-width: 768px) {
        font-size: large;
    }
}