.star {
    color: $mainColor;
    padding: 5px;

    &.empty {
        color: $color2;
    }
}

.rating {
    display: flex;
    justify-content: end;
    font-size: 20px;
    padding: 0px;
    padding-top: 20px;
    @media (max-width: 768px) {
        font-size: 18px;
        padding: 0;
    }
}