.Tags {
    display: flex; // Aligne les tags sur une ligne
    flex-wrap: wrap; // Permet de passer à la ligne si nécessaire
    gap: 10px;
}

.tag {
    background-color: $mainColor; // Couleur de fond
    color: $color1; // Couleur du texte
    padding: 5px 10px; // Espacement intérieur
    border-radius: 15px; // Coins arrondis
    font-size: 14px;
    white-space: nowrap; // Empêche les mots de se couper
}
