
.footer {
    background-color: black;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 169px;
    font-size: 22px;
    padding-top: 40px;
  }