@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @font-face{ 
//      font-family: "Monteserrat", sans-serif;
//      src: url(/public/src/assets/fonts/Montserrat.zip);
// };
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin listUl {
    
        display: flex;
        justify-content: end;
       
        padding-top: 0;
        
    list-style-type: none;     
}
@mixin Bg{
    background: url("/src/cote.png;");

}
