@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$mainColor: rgba(229, 45, 45, 0.823);
$color1: #f6f6f6;
$color2: rgba(184, 164, 164, 0.21);
$color3: black;
$color4: rgba(0, 0, 0, 0.5);

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin listUl {
    display: flex;
    justify-content: end;

    padding-top: 0;

    list-style-type: none;
}

@mixin center {
    display: block;
    margin: 0 auto;
}

@mixin dynamique {
    &[open] .chevron-icon {
        transform: rotate(180deg);
    }
}

@mixin chevron {
    margin-left: 10px;
    color: $color1;
    font-size: 14px;
    transition: transform 0.3s ease, color 0.3s ease;
}